<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            category="edu.berkeley.eduride.editorOverlay.category1"
            categoryId="edu.berkeley.eduride.editorOverlay.category1"
            defaultHandler="edu.berkeley.eduride.editoroverlay.handlers.ToggleBoxes"
            id="edu.berkeley.eduride.editorOverlay.toggleBoxes"
            name="Toggle Boxes">
      </command>
      <category
            id="edu.berkeley.eduride.editorOverlay.category1"
            name="Category 1">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:#CompilationUnitEditorContext?after=save">
         <command
               commandId="edu.berkeley.eduride.editorOverlay.toggleBoxes"
               icon="icons/boxMenuIcon.png"
               label="Toggle Boxes"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         id="inline"
         name="EduRide inline allow editing marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="start"
         name="EduRide inline allow editing marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="edu.berkeley.eduride.editorOverlay.id">
      </attribute>
   </extension>
   <extension
         id="stop"
         name="EduRide inline allow editing marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="edu.berkeley.eduride.editorOverlay.id">
      </attribute>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="edu.berkeley.eduride.editorOverlay.inline"
            name="edu.berkeley.eduride.editorOverlay.inline">
      </type>
      <type
            markerType="edu.berkeley.eduride.editorOverlay.start"
            name="edu.berkeley.eduride.editorOverlay.start">
      </type>
      <type
            markerType="edu.berkeley.eduride.editorOverlay.stop"
            name="edu.berkeley.eduride.editorOverlay.stop">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="edu.berkeley.eduride.editorOverlay.inline"
            includeOnPreferencePage="true"
            label="EduRide inline marker">
      </specification>
      <specification
            annotationType="edu.berkeley.eduride.editorOverlay.start"
            includeOnPreferencePage="true"
            label="EduRide start marker">
      </specification>
      <specification
            annotationType="edu.berkeley.eduride.editorOverlay.stop"
            includeOnPreferencePage="true"
            label="EduRide stopmarker">
      </specification>
   </extension>
   <extension
         point="EduRideBasePlugin.startup">
      <startup
            class="edu.berkeley.eduride.editoroverlay.handlers.EdurideStartup">
      </startup>
   </extension>

</plugin>
