<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="whatever"
            id="edu.berkeley.eduride.editorOverlay.category1"
            name="EditorStuff">
      </category>
      <command
            categoryId="edu.berkeley.eduride.editorOverlay.category1"
            defaultHandler="edu.berkeley.eduride.editoroverlay.handlers.InstallKeyVerifyListener"
            id="edu.berkeley.eduride.editorOverlay.installKeyVerifyListener"
            name="Install Key Verify Listener">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="edu.berkeley.eduride.toolbars.main">
            <command
                  commandId="edu.berkeley.eduride.editorOverlay.installKeyVerifyListener"
                  icon="icons/1381460317_keyboard_red.png"
                  label="Install Key Verify Listener"
                  style="push"
                  tooltip="For Editor Plugin">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="menu:CompilationUnitRulerContext?after=org.eclipse.ui.texteditor.TaskRulerAction">
         <menu
               id="edu.berkeley.eduride.menu.CompliationUnitGutter"
               label="Add Edit Constraint...">
            <command
                  commandId="edu.berkeley.eduride.editorOverlay.InstallMarker"
                  id="Install Marker"
                  label="Install Marker at Selection"
                  style="push">
            </command>
         </menu>
         <command
               commandId="edu.berkeley.eduride.editorOverlay.InstallMarker"
               id="Install Marker"
               label="Install Marker..."
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         id="inline"
         name="EduRide inline allow editing marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="start"
         name="EduRide inline allow editing marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="edu.berkeley.eduride.editorOverlay.id">
      </attribute>
   </extension>
   <extension
         id="stop"
         name="EduRide inline allow editing marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="edu.berkeley.eduride.editorOverlay.id">
      </attribute>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="edu.berkeley.eduride.editorOverlay.inline"
            name="edu.berkeley.eduride.editorOverlay.inline">
      </type>
      <type
            markerType="edu.berkeley.eduride.editorOverlay.start"
            name="edu.berkeley.eduride.editorOverlay.start">
      </type>
      <type
            markerType="edu.berkeley.eduride.editorOverlay.stop"
            name="edu.berkeley.eduride.editorOverlay.stop">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="edu.berkeley.eduride.editorOverlay.inline"
            includeOnPreferencePage="true"
            label="EduRide inline marker">
      </specification>
      <specification
            annotationType="edu.berkeley.eduride.editorOverlay.start"
            includeOnPreferencePage="true"
            label="EduRide start marker">
      </specification>
      <specification
            annotationType="edu.berkeley.eduride.editorOverlay.stop"
            includeOnPreferencePage="true"
            label="EduRide stopmarker">
      </specification>
   </extension>

</plugin>
